@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

*{
    margin:0;
    padding:0;
}


:root {
    --cor-fundo-primaria:#103444;
    --cor-fundo-secundaria:#F6F1F1;
    --cor-fundo-terciaria:#8bbdd3;

    --font-primaria:'Montserrat' , sans-serif;
    --font-secundaria: 'Krona One', sans-serif;
}

body {
    box-sizing:border-box;
    background-color:var(--cor-fundo-primaria);
    color:var(--cor-fundo-secundaria);
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}

.cabecalho_menu{
    display: flex;
    gap:80px;
}

.cabecalho_link{
    font-family: var(--font-primaria);
    font-size: 1.5rem;
    font-weight: 600;
    color:var(--cor-fundo-terciaria);
    text-decoration: none;
}

.apresentacao{
    padding:5% 15%;
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.apresentacao__conteudo{
    width:50%;
    display: flex;
    flex-direction: column;
    gap:40px;
}

.apresentacao__conteudo__titulo{
    font-size:2.25rem;
    font-family: var(--font-secundaria);
}

.titulo-destaque{
    color:var(--cor-fundo-terciaria);
}


.apresentacao__conteudo__texto{
    font-size:1.5rem;
    font-family: var(--font-primaria);
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap:32px;
}


.apresentacao__links__subtitulo{
    font-family: var(--font-secundaria);
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__links__link{
    /* background-color:#22d4fd; */
    display: flex;
    justify-content: center ;
    gap:10px;
    border: 2px solid var(--cor-fundo-terciaria);
    width: 50%;
    text-align: center;
    border-radius:8px;
    font-size: 24px;
    padding: 21.5px 0;
    color: var(--cor-fundo-secundaria);
    text-decoration:none;
    font-family:var(--font-primaria);
    font-weight: 600;
}

.apresentacao__links__link:hover{
    background: #272727;
}

.imagem{
    width: 50%;
}

.rodape{
    color:#000000;
    background:var(--cor-fundo-terciaria);
    padding: 1.5rem;
    text-align:center;
    font-family:var(--font-primaria);
    font-size:1.5rem;
    width: 400;
}

